# Ignorar todas as pastas __pycache__ em qualquer nível do projeto
**/__pycache__/
*.py[cod]

# Ignorar diretório media
/media/

# Ignorar arquivos específicos
mgltools_x86_64Linux2_1.5.7.tar.gz
.env

*.env
*.venv